@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', serif;
  scroll-behavior: smooth;
  background-color: #f7f7f7;
}

ul,li,a{
  list-style-type: none;
  text-decoration: none;
}
button{
  cursor: pointer;
}
.padded{
  padding-left: 5%;
  padding-right: 5%;
}